<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>351728778909-outd4l0ekdrf88hr92391c2akv85h53i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.351728778909-outd4l0ekdrf88hr92391c2akv85h53i</string>
	<key>API_KEY</key>
	<string>AIzaSyC2ar53ye2zHxpouZD4pO1RQ392l4PVsE0</string>
	<key>GCM_SENDER_ID</key>
	<string>351728778909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vpqlabs.FocoApp</string>
	<key>PROJECT_ID</key>
	<string>vpqfoco</string>
	<key>STORAGE_BUCKET</key>
	<string>vpqfoco.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:351728778909:ios:4cee254503f24473</string>
	<key>DATABASE_URL</key>
	<string>https://vpqfoco.firebaseio.com</string>
</dict>
</plist>