<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>337229219663-veaiaqnjkuo4k4fo4kjgvoes0p84qh4d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337229219663-veaiaqnjkuo4k4fo4kjgvoes0p84qh4d</string>
	<key>API_KEY</key>
	<string>AIzaSyBraItw4eRPgNluAA0OG0CEAustcXq81Xs</string>
	<key>GCM_SENDER_ID</key>
	<string>337229219663</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vpqlabs.foco</string>
	<key>PROJECT_ID</key>
	<string>project-4367012475013528568</string>
	<key>STORAGE_BUCKET</key>
	<string>project-4367012475013528568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:337229219663:ios:b86a165303aacac2</string>
	<key>DATABASE_URL</key>
	<string>https://focoapp.firebaseio.com</string>
</dict>
</plist>